    {% extends 'back/master.html' %}
    {% load static %}

    {% block body %}
        <!-- Page content -->
        <div id="page-content">
            <!-- Datatables Content -->
            <div class="block full">
                <div class="block-title">
                    <h2><strong>Category</strong> List</h2>
                </div>
                <p>You can add, delete, edit your category.</p>

                <div class="table-responsive">
                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr >
                                <th class="text-center">ID</th>
                                <th class='text-center'>Title</th>
                                <th class='text-center'>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in category %}
                            <tr>
                                <td class="text-center">{{category.pk}}</td>
                                <td class='text-center'>{{category.name}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                        <a href="" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}    
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Datatables Content -->
        </div>
        <!-- END Page Content -->
    {% endblock body %}

        
    {% block javascript %}
        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
    {% endblock javascript %}
        
    