
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:contact@example.com">mehedi.abdullah.cse@gmail.com</a>
        <i class="icofont-phone"></i> +88 01911 132339
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'blog_index' %}"><span style="font-family: 'Faster One', cursive; font-size: 2rem">Technoholic</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>

          <li class="drop-down"><a href="#">Mobile</a>
            <ul>
              <li><a href="about.html">Android</a></li>
              <li><a href="team.html">iPhone</a></li>

              <li class="drop-down"><a href="#">Software</a>
                <ul>
                  <li><a href="#">Tip's & Trick's</a></li>
                  <li><a href="#">Custom Rom</a></li>
                  <li><a href="#">Root Android</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="drop-down"><a href="#">Computer</a>
            <ul>
              <li><a href="about.html">Windows</a></li>
              <li><a href="team.html">Linux</a></li>

              <li class="drop-down"><a href="#">Software</a>
                <ul>
                  <li><a href="#">Tip's & Trick's</a></li>
                  <li><a href="#">Linux Command</a></li>
                  <li><a href="#">Pro Linux</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="drop-down"><a href="#">Programming</a>
            <ul>
              <li><a href="team.html">Jaquard</a></li>

              <li class="drop-down"><a href="#">Language</a>
                <ul>
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Bash</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li><a href="blog.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->